<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>PlanoA</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="shortcut icon" href="./imagens/favicon1.ico" type="image/x-icon">

  <!--Icones Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <!--Css CDN-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/estilo.css}">

</head>

<body class="text-monospace">

  <!-- Cabeçalho-->
  <header class="container-fluid p-3 text-white BGMarinho">

    <!-- inicio navbar-->
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 fs-5">
        <li><a class="navbar-brand" th:href="@{/index}"><img th:src="@{img/logoClaro_152x72.png}" alt="logo plano A"></a>
        </li>
        <li><a th:href="@{/index}" class="nav-link px-3 text-white">Home</a></li>
        <li><a th:href="@{/planosdeaula}" class="nav-link px-3 text-white">Planos de Aula</a></li>
        <li><a th:href="@{/perguntasfrequentes}" class="nav-link px-3 text-white">Perguntas Frequentes</a></li>
        <li><a th:href="@{/sobrenos}" class="nav-link px-3 text-white">Sobre Nós</a></li>
        <li><a th:href="@{/contato}" class="nav-link px-3 text-white">Contato</a></li>
        <li>
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
          </form>
        </li>
        <li>
          <button type="button" class="btn" id="BGLaranja">Login</button>
          <a th:href="@{/professor}"  class="btn" id="BGAzulBB">Sign-up</a></P>
        </li>
      </ul>
    </div>

  </header>

	<main class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Listagem de Diciplinas</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Nome</th>
							<th scope="col">Ano</th>
						</tr>
					</thead>
					<tbody>
						<!--A variável diciplina receberá em cada iteração cada um dos objetos dentro da lista diciplinas,
					 recebida do ModelAndView do Controller, via thymeleaf-->
						<tr th:each="diciplina : ${diciplinas}">
							<th scope="row" th:text="${diciplina.idDiciplina}"></th>
							<td>
								<a th:text="${diciplina.nomeDiciplina}"
									th:href="@{/diciplina/{id} (id=${diciplina.idDiciplina})}"></a>
								<!--Link para detalhar diciplina-->
							</td>
							<td th:text="${diciplina.anoDiciplina}"></td>
							<td>
								<a th:href="@{/diciplina/{id}/editar (id=${diciplina.idDiciplina})}"
									class="btn btn-warning">Editar</a>
								<a th:href="@{/diciplina/{id}/excluir (id=${diciplina.idDiciplina})}"
									class="btn btn-danger"
									onclick="return confirm('Tem certeza que deseja excluir a diciplina?');">
									Excluir
								</a>

							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<!--@{/diciplina/cadastrar}" chama a clsse ClenteController e acessa o metodo cadastrar dentro dele-->
				<a th:href="@{/diciplina/cadastrar}" class="btn btn-primary">Cadastrar novo Diciplina</a>
			</div>
		</div>
	</main>


  <footer class="container-fluid p-3 BGMarinho text-white">

    <section class="text-center text-lg-start BGLaranja rounded">

      <div class="container d-flex justify-content-center py-5">
        <button type="button" class="btn btn-secondary btn-lg mx-2 BGMarinho">
          <i class="bi bi-facebook"></i>
        </button>
        <button type="button" class="btn btn-secondary btn-lg mx-2 BGMarinho">
          <i class="bi bi-youtube"></i>
        </button>
        <button type="button" class="btn btn-secondary btn-lg mx-2 BGMarinho">
          <i class="bi bi-instagram"></i>
        </button>
        <button type="button" class="btn btn-secondary btn-lg mx-2 BGMarinho">
          <i class="bi bi-twitter"></i>
        </button>
      </div>

      <!-- Copyright -->
      <div class="text-center text-white p-3 BGAmarelo rounded">
        <p style="color:black;">© 2022 Squad 41</p>
        <a class="text-white" href=" "></a>
      </div>

    </section>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>