<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

	<title>Listagem de Professores</title>
</head>

<body>
	<nav class="navbar navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Professors</a>
		</div>
	</nav>

	<main class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Listagem de Professores</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Nome</th>
							<th scope="col">Foto</th>
							<th scope="col">CPF</th>
							<th scope="col">Formação</th>
							<th scope="col">Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="professor : ${professors}">
							<th scope="row" th:text="${professor.idProfessor}"></th>
							<td>
								<a th:text="${professor.nomeProfessor}" th:href="@{/professor/{id} (id=${professor.idProfessor})}"></a><!--Link para detalhar professor-->
							</td>
							<td>
								<img alt="Image" class="img_prod" height="50px" width="70px"
									th:src="|/professor/imagem/${professor.idProfessor}|" />
							</td>
							<td th:text="${professor.cpfProfessor}"></td>
							<td th:text="${professor.formacao}"></td>
							<td>
								<a th:href="@{/professor/{id}/editar (id=${professor.idProfessor})}"
									class="btn btn-warning">Editar</a>
								<a th:href="@{/professor/{id}/excluir (id=${professor.idProfessor})}" class="btn btn-danger"
									onclick="return confirm('Tem certeza que deseja excluir o professor?');">
									Excluir
								</a>

							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<a th:href="@{/professor/cadastrar}" class="btn btn-primary">Cadastrar novo Professor</a>
			</div>
		</div>
	</main>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"></script>
</body>

</html>